*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: black;
    color: wheat;
    padding: 10px 40px;
}

.menuList ul{
    display: flex;        
}

.menuList ul li{
    list-style: none;    
    margin-left: 20px;
    text-transform: uppercase;        
}

.menuList ul li a{
    text-decoration: none;
    color: wheat;
}

.burger{
    display: none;
}

@media only screen and (max-width: 768px){
    
    .navbar .burger{
        display: flex;
        flex-direction: column;                
    }

    .menuList{
        position: absolute;
        background-color: black;
        width: 100%;
        top: 45px;
        left: 0;        
        padding-left: 8px;                
    }

    .menuList ul{
        display: block;                                
    }

    .menuList ul li{
        padding: 15px;
        
    }



    
    


}


@media only screen and (max-width: 768px){
    
#menuList {
    display: none;
}
}

@media only screen and (min-width: 769px){
    
    #menuList {
        display: flex !important;
        flex-direction: row !important;
    }
    }