*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: black;
    color: wheat;
    padding: 10px;
}

.menuList ul{
    display: flex;        
}

.menuList ul li{
    list-style: none;    
    margin-left: 20px;
    text-transform: uppercase;        
}

.menuList ul li a{
    text-decoration: none;
    color: wheat;
}

.burger{
    display: none;
}

@media only screen and (max-width: 768px){
    .burger{
        display: block;
    }
}

@media only screen and (max-width: 480px){
    .burger{
        display: block;
    }
}